@reference 'tailwindcss';

:host {
  position: relative;
  padding-inline-start: var(--mfc-navigation-group-menu-padding-start);
  // transition: grid-template-rows .1s ease-in-out;
  grid-template-rows: 0fr;
  display: grid;

  .inner {
    display: flex;
    flex-direction: column;
    gap: var(--mfc-navigation-items-gap);
    overflow: hidden;
  }
}

:host(.is-active) {
  grid-template-rows: 1fr;
  margin-top: var(--mfc-navigation-item-space-y);

  .inner {
    padding: calc(var(--mfc-navigation-items-gap) * 2) 0 var(--mfc-navigation-items-gap) 0;
  }
}
