@reference 'tailwindcss';

:host {
  border: 1px solid var(--color-border);
  border-radius: var(--mfc-radio-card-border-radius);
  padding: var(--mfc-radio-card-padding);
  cursor: pointer;
  transition: var(--mfc-radio-card-transition);
  outline: none;
  width: 100%;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: --spacing(1);

  .header {
    display: flex;
    align-items: center;
    margin-left: calc(--spacing(2) * -1);
  }

  &:not(.disabled):hover {
    border-color: var(--mfc-radio-card-color-border-hover);
  }

  &.is-selected {
    border-color: var(--mfc-radio-card-color-selected-border);
    background-color: var(--mfc-radio-card-color-selected-bg);
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
  }
}

:host-context(html.dark) {
  --mfc-radio-card-color-selected-bg: var(--color-neutral-1000);
  --mfc-radio-card-content-color: var(--color-neutral-500);
}
