@reference 'tailwindcss';

:host {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex: none;
  user-select: none;
  width: var(--mfc-tab-panel-item-width);
  height: var(--mfc-tab-panel-item-height);
}

:host-context(.mfc-tab-panel.is-compact) {
  width: var(--mfc-tab-panel-compact-item-width);
  height: var(--mfc-tab-panel-compact-item-height);
}
