@reference 'tailwindcss';

:host {
  --mfc-sidebar-body-padding: --spacing(2);
  display: block;
  width: 100%;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;

  .scroll-content {
    padding: var(--mfc-sidebar-body-padding);
  }
}

:host-context(.mfc-sidebar.compact) {
  overflow-y: hidden;
  padding: 0;
}

:host-context(.mfc-sidebar.compact:hover) {
  overflow-y: auto;
}
