mat-form-field {
  &.w-full {
    width: 100%;
  }
}

mat-spinner {
  display: inline-block;
  margin-right: 8px;
}

.bg-error-50 {
  background-color: rgba(239, 68, 68, 0.1);
}

.text-error {
  color: rgb(239, 68, 68);
}

.border-error {
  border-color: rgb(239, 68, 68);
}

.border-l-4 {
  border-left-width: 4px;
}
