@reference 'tailwindcss';

:host {
  --mfc-upload-area-bg: transparent;
  --mfc-upload-area-padding: --spacing(10);
  --mfc-upload-area-border: 1px solid var(--color-border);
  --mfc-upload-area-border-radius: theme(--radius-2xl);
  --mfc-upload-area-font-size: theme(--text-sm);
  --mfc-upload-area-color: var(--color-neutral-600);
  --mfc-upload-area-drop-active-border: 1px dashed var(--color-primary);
  --mfc-upload-area-drop-active-color: var(--color-primary);
  --mfc-upload-area-drop-active-bg: var(--color-primary-200);
  --mfc-upload-area-drop-invalid-border: 1px dashed var(--color-red-500);
  --mfc-upload-area-drop-invalid-color: var(--color-red-500);
  --mfc-upload-area-drop-invalid-bg: var(--color-red-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--mfc-upload-area-color);
  border-radius: var(--mfc-upload-area-border-radius);
  border: var(--mfc-upload-area-border);
  font-size: var(--mfc-upload-area-font-size);
  background-color: var(--mfc-upload-area-bg);
  padding: var(--mfc-upload-area-padding);

  &.is-allow-hover:hover {
    cursor: pointer;
    border: var(--mfc-upload-area-drop-active-border);
    color: var(--mfc-upload-area-drop-active-color);
    background: var(--mfc-upload-area-drop-active-bg);
  }

  &.is-drop-active {
    border: var(--mfc-upload-area-drop-active-border);
    color: var(--mfc-upload-area-drop-active-color);
    background: var(--mfc-upload-area-drop-active-bg);
  }

  &.is-drop-invalid {
    border: var(--mfc-upload-area-drop-invalid-border);
    color: var(--mfc-upload-area-drop-invalid-color);
    background: var(--mfc-upload-area-drop-invalid-bg);
  }

  .state {
    display: none;

    &.is-active {
      display: block;
    }
  }

  .icon {
    margin-bottom: --spacing(2);

    &:empty {
      display: none;
    }
  }
}

:host-context(html.dark) {

}
