@reference 'tailwindcss';

:host {
  --mfc-avatar-group-item-offset: calc(var(--spacing) * 2.5);
  --mfc-avatar-group-item-border: 2px solid white;

  display: flex;
  flex: none;
  position: relative;
  align-items: center;

  ::ng-deep {
    * + * {
      margin-left: calc(var(--mfc-avatar-group-item-offset) * -1);
    }

    .mfc-avatar,
    .mfc-avatar-total,
    .mfc-avatar-more {
      border: var(--mfc-avatar-group-item-border);
      z-index: 0;

      &:hover {
        z-index: 1;
      }
    }
  }
}
