@reference 'tailwindcss';

:host {
  --mfc-pin-input-width: calc(var(--spacing) * 14);
  --mfc-pin-gap: calc(var(--spacing) * 4);

  display: block;
  width: max-content;

  .inputs {
    display: flex;
    align-items: center;
    gap: var(--mfc-pin-gap);
  }

  .input {
    flex: none;
  }

  ::ng-deep {
    .mat-mdc-form-field {
      width: var(--mfc-pin-input-width) !important;
    }

    .mdc-text-field {
      padding: 0;
    }

    .mat-mdc-input-element {
      text-align: center;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
