@if (user(); as user) {
  <div class="md:py-14 max-w-[1200px] mx-auto">
    <mat-card class="p-0 overflow-visible relative rounded-2xl shadow-lg">
      <div class="h-48 md:h-64 rounded-t-2xl bg-cover bg-center"
           [style.background-image]="'url(' + user.banner + ')'"></div>

      <div class="absolute top-28 md:top-46 left-1/2 -translate-x-1/2">
        <img [ngSrc]="user.avatar" width="112" height="112" priority alt="Mike Nielsen Avatar"
             class="size-32 rounded-full border-4 border-white shadow-md">
      </div>

      <div class="p-6 pt-20 text-center">
        <h2 class="text-2xl font-bold">{{ user.name }}</h2>
        <p class="text-neutral-500">{{ user.title }}</p>
      </div>

      <div class="flex flex-col md:flex-row justify-between items-center px-6 pb-6 gap-6">
        <div class="flex gap-6 md:gap-10">
          <div class="text-center">
            <p class="text-2xl font-semibold">{{ user.stats.posts }}</p>
            <p class="text-sm text-neutral-500">Posts</p>
          </div>
          <div class="text-center">
            <p class="text-2xl font-semibold">{{ user.stats.followers | number }}</p>
            <p class="text-sm text-neutral-500">Followers</p></div>
          <div class="text-center">
            <p class="text-2xl font-semibold">{{ user.stats.following | number }}</p>
            <p class="text-sm text-neutral-500">Following</p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <button mat-mini-fab class="!bg-primary-200 dark:!bg-primary-900">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-mini-fab class="!bg-cyan-200 dark:!bg-cyan-900">
            <mat-icon>camera_alt</mat-icon>
          </button>
          <button mat-mini-fab class="!bg-red-200 dark:!bg-red-900">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button mat-flat-button class="ms-4">Add To Story</button>
        </div>
      </div>
    </mat-card>

    <div class="mt-8">
      <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" [selectedIndex]="1"
                     class="bg-surface-container-lowest rounded-3xl overflow-hidden">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
              <mat-icon>person_outline</mat-icon>
              Profile
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
              <mat-icon>favorite_border</mat-icon>
              Followers
            </div>
          </ng-template>
          <div class="p-7 rounded-b-sm rounded-r-sm shadow-sm mt-[-1px]">
            <div class="flex flex-col md:flex-row justify-between items-center mb-4 gap-4">
              <div class="flex items-center gap-3">
                <h3 class="text-xl font-bold">Followers</h3>
                <span
                  class="bg-primary-200 text-primary-800 text-sm font-medium px-2.5 py-0.5 rounded-full">{{ followers().length }}</span>
              </div>
              <mat-form-field class="w-full md:w-auto">
                <mat-label>Search Followers</mat-label>
                <mat-icon matPrefix class="mr-2">search</mat-icon>
                <input matInput [formControl]="searchControl">
              </mat-form-field>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
              @for (follower of filteredFollowers(); track follower.id) {
                <app-follower-card
                  [follower]="follower"
                  (toggleFollow)="handleToggleFollow($event)"/>
              }
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
              <mat-icon>people_outline</mat-icon>
              Friends
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex items-center gap-2">
              <mat-icon>photo_library_outline</mat-icon>
              Gallery
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
} @else {
  <div class="flex justify-center items-center h-screen text-neutral-500 p-12">Loading Profile...</div>
}
