@reference 'tailwindcss';

:host {
  --mfc-skeleton-circle-size: calc(var(--spacing) * 14);

  animation: mfc-skeleton-loading 1s linear infinite alternate;

  display: inline-flex;
  border-radius: calc(infinity * 1px);
  flex: none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--mfc-skeleton-circle-size);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--mfc-skeleton-circle-size);
  }

  @keyframes mfc-skeleton-loading {
    0% {
      background: var(--mfc-skeleton-from-bg);
    }

    100% {
      background: var(--mfc-skeleton-to-bg);
    }
  }
}
