@reference 'tailwindcss';

:host {
  font-size: var(--mfc-breadcrumbs-item-font-size);
  font-weight: var(--mfc-breadcrumbs-item-font-weight);
  color: var(--mfc-breadcrumbs-item-color);
  display: flex;
  gap: --spacing(1.5);
  cursor: pointer;
  text-decoration: none;
  align-items: center;

  .icon {
    line-height: 11px;

    ::ng-deep {
      .mfc-breadcrumb-item-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
        flex: none;
      }
    }
  }

  .icon {
    &:empty {
      display: none;
    }
  }

  .content {
    &:has(.name:empty) {
      display: none;
    }
  }

  &:not(:last-child):hover {
    .icon {
      color: var(--mfc-breadcrumbs-item-hover-color);
    }

    .name {
      color: var(--mfc-breadcrumbs-item-hover-color);
      text-decoration: underline;
      text-underline-offset: var(--underline-offset-1);
    }
  }

  &:last-child {
    cursor: auto;
    color: var(--mfc-breadcrumbs-active-item-color);
  }
}

:host-context(.mfc-breadcrumbs.last-item-as-link) {
  &:last-child {
    color: var(--mfc-breadcrumbs-item-color);
    cursor: pointer;

    &:hover {
      .icon {
        color: var(--mfc-breadcrumbs-item-hover-color);
      }

      .name {
        color: var(--mfc-breadcrumbs-item-hover-color);
        text-decoration: underline;
        text-underline-offset: var(--underline-offset-1);
      }
    }
  }
}
