@reference 'tailwindcss';

:host {
  --mfc-content-fade-color: var(--color-background);
  --mfc-content-fade-width: 20%;

  display: block;
  position: relative;

  &.position-both,
  &.position-start {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--mfc-content-fade-width);
      background: linear-gradient(to left, transparent, var(--mfc-content-fade-color));
    }
  }

  &.position-both,
  &.position-end {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: var(--mfc-content-fade-width);
      background: linear-gradient(to right, transparent, var(--mfc-content-fade-color));
    }
  }
}
