:host {
  display: flex;
  padding: var(---notification-padding);
  gap: var(---notification-gap);

  .action-icon {
    height: 16px !important;
    width: 11px !important;
    font-size: var(--text-xs) !important;
    line-height: 1.25;
  }

  .icon {
    --mat-icon-color: var(--color-primary);
  }
}
