:host {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.625rem;
  height: var(--mfc-suggestion-height, 2.75rem);
  padding: var(--mfc-suggestion-padding, 0 0.5rem);
  border-radius: var(--mfc-suggestion-border-radius, 9999px);
  transition: background-color 0.2s ease;

  .figure {
    line-height: 0;
  }

  .icon,
  .thumb {
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --mfc-avatar-size: 2rem;
    border-radius: 9999px;
  }

  .icon:empty,
  .thumb:empty {
    display: none;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
