:host {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: var(--mfc-segmented-button-color);
  font-size: var(--mfc-segmented-button-font-size);
  min-width: var(--mfc-segmented-button-min-width);
  border-radius: var(--mfc-segmented-button-border-radius);
  gap: var(--mfc-segmented-button-gap);
  flex: none;
  padding: var(--mfc-segmented-button-padding);
  height: var(--mfc-segmented-button-height);
  transition: all 0.2s ease;

  &.icon-only {
    --mfc-segmented-button-min-width: 0;
    --mfc-segmented-button-icon-offset-margin: 0;

    width: var(--mfc-segmented-button-height);
    gap: 0;
    padding: 0;

    .content {
      display: none;
    }
  }

  .icon {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: var(--mfc-segmented-button-icon-offset-margin);

    ::ng-deep {
      .mat-icon {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .icon {
    &:empty {
      display: none;
    }
  }

  &:hover {
    background-color: var(--mfc-segmented-button-hover-bg);
    color: var(--mfc-segmented-button-hover-color);
    text-decoration-line: none;
  }

  &.is-selected {
    pointer-events: none;
    background-color: var(--mfc-segmented-button-selected-bg);
    color: var(--mfc-segmented-button-selected-color);
    box-shadow: var(--mfc-segmented-button-selected-shadow);
  }

  &:disabled,
  &.is-disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}
