@reference 'tailwindcss';

:host {
  --mfc-file-padding: --spacing(4);
  --mfc-file-border-radius: theme(--radius-2xl);
  --mfc-file-bg: var(--color-surface-container);
  --mfc-file-error-bg: var(--color-error-200);
  --mfc-file-controls-gap: --spacing(1.5);
  --mfc-file-progress-margin: --spacing(2) 0 0 0;
  --mfc-file-progress-bg: var(--color-surface-container-highest);
  --mfc-file-progress-height: --spacing(1);
  --mfc-file-progress-border-radius: theme(--radius-lg);
  --mfc-file-progress-bar-bg: var(--color-primary);
  --mfc-file-control-color: var(--color-neutral-500);
  --mfc-file-control-hover-color: var(--color-primary);
  --mfc-file-control-font-size: theme(--text-xl);
  --mfc-file-name-font-size: theme(--text-sm);
  --mfc-file-info-font-size: theme(--text-xs);
  --mfc-file-info-color: var(--color-neutral-600);
  --mfc-file-error-font-size: theme(--text-xs);
  --mfc-file-error-color: var(--color-error-500);

  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: var(--mfc-file-padding);
  border-radius: var(--mfc-file-border-radius);
  background: var(--mfc-file-bg);

  .name {
    font-size: var(--mfc-file-name-font-size);
  }

  .info {
    font-size: var(--mfc-file-info-font-size);
    color: var(--mfc-file-info-color);
  }

  .content {
    min-width: 0;
    flex-grow: 1;
  }

  .controls {
    display: flex;
    align-items: center;
    gap: var(--mfc-file-controls-gap)
  }

  .progress {
    background: var(--mfc-file-progress-bg);
    height: var(--mfc-file-progress-height);
    flex: none;
    border-radius: var(--mfc-file-progress-border-radius);
    margin: var(--mfc-file-progress-margin);
  }

  .progress-bar {
    background: var(--mfc-file-progress-bar-bg);
    border-radius: var(--mfc-file-progress-border-radius);
    height: 100%;
  }

  .error {
    font-size: var(--mfc-file-error-font-size);
    color: var(--mfc-file-error-color);
  }

  &.has-error {
    background: var(--mfc-file-error-bg);
  }
}

:host-context(html.dark) {
  --mfc-file-error-color: theme(--color-red-300);
  --mfc-file-progress-bg: var(--color-neutral-500);
  --mfc-file-control-hover-color: var(--color-neutral-300);
}
