@reference 'tailwindcss';

:host {
  display: block;
  position: relative;
  width: max-content;
  height: max-content;
  background: var(--color-surface-container-lowest);

  canvas {
    width: 500px;
    height: 250px;
    z-index: 1;
    position: relative;
  }

  .mfc-brand-colors {
    --mfc-brand-colors-color-size: --spacing(5);
    --mfc-brand-colors-gap: --spacing(2);
    position: absolute;
    top: --spacing(3);
    right: --spacing(3);
    z-index: 2;
  }

  .clear-button {
    position: absolute;
    top: --spacing(1);
    left: --spacing(1);
    z-index: 2;
  }

  .line {
    position: absolute;
    height: 1px;
    z-index: 0;
    background: var(--color-surface-container-highest);
    left: 40px;
    right: 40px;
    bottom: 50px;
  }
}
