@reference 'tailwindcss';

:host {
  position: relative;
  padding-inline-start: var(--mfc-sidebar-nav-group-menu-padding-start);
  // transition: grid-template-rows .05s linear;
  grid-template-rows: 0fr;
  display: grid;

  .inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--mfc-sidebar-nav-items-gap);
  }

  &.is-active {
    // transition: grid-template-rows .1s ease-in;
    grid-template-rows: 1fr;
    margin-top: var(--mfc-sidebar-nav-item-space-y);

    .inner {
      padding: calc(var(--mfc-sidebar-nav-items-gap) * 2) 0 var(--mfc-sidebar-nav-items-gap) 0;
    }
  }
}
