@reference 'tailwindcss';

:host {
  --mfc-command-bar-height: calc(var(--spacing) * 12);
  --mfc-command-bar-padding: 0 calc(var(--spacing) * 1);
  --mfc-command-bar-margin: calc(var(--spacing) * 8) 0;
  --mfc-command-bar-zindex: 50;
  --mfc-command-bar-bg: var(--color-neutral-950);
  --mfc-command-bar-color: var(--color-neutral-200);
  --mfc-command-bar-border: 1px solid var(--color-neutral-700);
  --mfc-command-bar-shadow: theme(--shadow-lg);
  --mfc-command-bar-border-radius: calc(infinity * 1px);
  --mfc-command-bar-command-height: calc(var(--spacing) * 10);
  --mfc-command-bar-command-padding: 0 calc(var(--spacing) * 3.5);
  --mfc-command-bar-command-font-size: theme(--text-sm);
  --mfc-command-bar-command-color: var(--color-neutral-200);
  --mfc-command-bar-command-hover-color: var(--color-neutral-100);
  --mfc-command-bar-command-hover-bg: var(--color-neutral-800);
  --mfc-command-bar-value-color: var(--color-neutral-200);
  --mfc-command-bar-command-gap: calc(var(--spacing) * 3);
  --mfc-command-bar-content-padding: 0 calc(var(--spacing) * 4);
  --mfc-command-bar-font-size: theme(--text-sm);
  --mfc-command-bar-divider-width: 1px;
  --mfc-command-bar-divider-height: calc(var(--spacing) * 6);
  --mfc-command-bar-divider-bg: var(--color-neutral-600);
  --mfc-command-bar-command-shortcut-bg: var(--color-neutral-700);
  --mfc-command-bar-command-shortcut-border-radius: theme(--radius-lg);
  --mfc-command-bar-command-shortcut-font-size: var(--text-xs);
  --mfc-command-bar-command-shortcut-color: var(--color-neutral-300);
  --mfc-command-bar-command-shortcut-padding: 0 5px;
  --mfc-command-bar-command-shortcut-border: 1px solid var(--color-neutral-600);
  --mfc-command-bar-command-shortcut-size: calc(var(--spacing) * 5);

  left: 50%;
  translate: -50% 0;
  height: var(--mfc-command-bar-height);
  border: var(--mfc-command-bar-border);
  box-shadow: var(--mfc-command-bar-shadow);
  border-radius: var(--mfc-command-bar-border-radius);
  z-index: -1;
  font-size: var(--mfc-command-bar-font-size);
  color: var(--mfc-command-bar-color);
  padding: var(--mfc-command-bar-padding);
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  width: min-content;
  position: fixed;
  background-color: var(--mfc-command-bar-bg);
  margin: var(--mfc-command-bar-margin);
  gap: calc(var(--spacing) * 1);

  .content {
    &:empty {
      display: none;
    }

    white-space: nowrap;
    padding: var(--mfc-command-bar-content-padding);
  }

  &.is-open {
    opacity: 1;
    z-index: var(--mfc-command-bar-zindex);
  }

  &[mfc-command-bar-position="top"] {
    top: 0;
  }

  &[mfc-command-bar-position="top"].is-open {
    animation: 0.3s mfc-command-bar-animation-from-top;
  }

  &[mfc-command-bar-position="bottom"] {
    bottom: 0;
  }

  &[mfc-command-bar-position="bottom"].is-open {
    animation: 0.3s mfc-command-bar-animation-from-bottom;
  }

  @keyframes mfc-command-bar-animation-from-top {
    0% {
      transform: translateY(-150%) scale(.9);
      opacity: 0;
    }

    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  @keyframes mfc-command-bar-animation-from-bottom {
    0% {
      transform: translateY(150%) scale(.9);
      opacity: 0;
    }

    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

:host-context(html.dark) {
  --mfc-command-bar-bg: var(--color-primary-200);
  --mfc-command-bar-color: var(--color-neutral-950);
  --mfc-command-bar-command-color: var(--color-neutral-950);
}
