@reference 'tailwindcss';

:host {
  --mfc-rail-nav-bg-item-icon-is-active-bg: var(--color-secondary-fixed);
  --mfc-rail-nav-bg-item-icon-is-active-active-bg: var(--color-secondary-fixed-dim);
  --mfc-rail-nav-bg-item-icon-hover-bg: var(--color-surface-container);
  --mfc-rail-nav-bg-item-icon-active-bg: var(--color-surface-container-highest);
  --mfc-rail-nav-bg-item-icon-color: var(--color-on-secondary-container);
  --mfc-rail-nav-bg-item-icon-is-active-color: var(--color-on-secondary-fixed);
  --mfc-rail-nav-bg-item-color: var(--color-on-secondary-container);
  --mfc-rail-nav-width: --spacing(24);
  --mfc-rail-nav-gap: --spacing(3);

  display: flex;
  flex-direction: column;
  gap: var(--mfc-rail-nav-gap);
  width: var(--mfc-rail-nav-width);
}
