@reference 'tailwindcss';

:host {
    --mfc-icon-size: --spacing(6);

    display: inline-flex;
    flex: none;
    align-items: center;
    justify-content: center;
    line-height: 0;

    svg {
        flex: none;
    }

    &:not([class*="w-"]):not([class*="size-"]) {
        width: var(--mfc-icon-size);
    }

    &:not([class*="h-"]):not([class*="size-"]) {
        height: var(--mfc-icon-size);
    }
}