@use '@angular/material' as mat;
@reference 'tailwindcss';

:host {
  width: 100%;
  height: var(--mfc-incidents-bar-height);
  background: var(--mfc-incidents-bar-bg);
  color: var(--mfc-incidents-bar-color);
  box-shadow: var(--mfc-incidents-bar-box-shadow);
  align-items: center;
  justify-content: space-between;
  flex: none;
  cursor: pointer;
  display: flex;
  grid-gap: 25px;
  user-select: none;
  padding: var(--mfc-incidents-bar-padding);
}

:host(:hover) {
  box-shadow: var(--mfc-incidents-bar-hover-box-shadow);
}

:host .container {
  display: flex;
  height: 100%;
  grid-area: content;
  align-items: center;
}

:host .toggle-icon {
  line-height: 0;
  transition: transform .2s ease;

  @include mat.icon-button-overrides((
    icon-color: var(--mfc-incidents-bar-color),
    state-layer-color: var(--mfc-incidents-bar-color)
  ));
}

:host-context(.mfc-incidents.is-visible) .toggle-icon {
  transform: rotate(-180deg);
}
