@reference 'tailwindcss';

:host {
  font-size: var(--mfc-file-control-font-size);
  cursor: pointer;
  display: inline-flex;
  color: var(--mfc-file-control-color);

  &:hover {
    color: var(--mfc-file-control-hover-color);
  }
}
