@reference 'tailwindcss';

:host {
  --mfc-logo-text-font-size: theme(--text-xl);
  --mfc-logo-text-font-weight: 800;
  --mfc-logo-text-color: var(--color-primary);
  --mfc-logo-text-hover-color: var(--color-tertiary);

  display: inline-block;
  width: max-content;
  height: max-content;

  &.is-text {
    color: var(--mfc-logo-text-color);
    font-size: var(--mfc-logo-text-font-size);
    font-weight: var(--mfc-logo-text-font-weight);

    &:hover {
      color: var(--mfc-logo-text-hover-color);
    }
  }
}
