:host {
  // DaisyUI-adapted variables
  --mfc-skeleton-gap: 1rem;
  --mfc-skeleton-item-border-radius: 1rem;
  --mfc-skeleton-from-bg: oklch(var(--b3) / 0.8);
  --mfc-skeleton-to-bg: oklch(var(--b2) / 0.7);

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--mfc-skeleton-gap);

  &.is-direction-col {
    flex-direction: column;
  }

  &.is-direction-row {
    flex-direction: row;
  }
}
