<app-container>
  <div class="p-6 md:p-12 mat-typography max-w-[1200px] mx-auto">
    <a routerLink="/applications/help-center/main"
       class="inline-flex items-center gap-2 text-primary font-medium mb-6
              hover:text-tertiary transition-colors">
      <mat-icon>arrow_back</mat-icon>
      Back to Help Center
    </a>

    <h1 class="!mb-14">Guides & Resources</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-x-10 gap-y-12">
      @for (section of sections; track section.title) {
        <div class="flex flex-col">
          <h2 class="!text-2xl !mb-5">
            {{ section.title }}
          </h2>

          <ul class="space-y-3">
            @for (link of section.links; track link.title) {
              <li>
                <a [href]="link.url" class="hover:underline hover:text-primary transition-colors duration-200">
                  {{ link.title }}
                </a>
              </li>
            }
          </ul>

          @if (section.showViewAll) {
            <div class="mt-4">
              <a href="#" class="flex items-center gap-2 text-primary hover:text-tertiary transition-colors">
                View All
              </a>
            </div>
          }
        </div>
      }
    </div>
  </div>
</app-container>
