@reference 'tailwindcss';

:host {
  --mfc-gauge-value-color: var(--color-neutral-700);
  --mfc-gauge-bg: var(--color-neutral-300);
  --mfc-gauge-fill: var(--color-primary);
  --mfc-gauge-size: calc(var(--spacing) * 20);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: none;
  user-select: none;

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--mfc-gauge-size);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--mfc-gauge-size);
  }

  .bg {
    color: var(--mfc-gauge-bg);
  }

  .fill {
    transition: stroke-dasharray 1s ease 0s, stroke 1s ease 0s;
    animation: mfc-gauge-fill 1s ease forwards;
    color: var(--mfc-gauge-fill);
  }

  @keyframes mfc-gauge-fill {
    from {
      stroke-dashoffset: 332;
    }
  }
}

:host-context(html.dark) {
  --mfc-gauge-value-color: var(--color-neutral-300);
  --mfc-gauge-bg: var(--color-neutral-600);
}
