@reference 'tailwindcss';

:host {
  display: block;

  mat-card {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

  mat-card:hover {
    transform: translateY(-5px);
  }

  mat-card-content {
    display: flex;
    align-items: start;
    padding: --spacing(6);
    gap: --spacing(5);
  }
}
