table {
  border-collapse: collapse;
}

.bg-error-50 {
  background-color: rgba(239, 68, 68, 0.1);
}

.text-error {
  color: rgb(239, 68, 68);
}

.text-success {
  color: rgb(34, 197, 94);
}

input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}

// Sticky summary panel
.sticky {
  position: sticky;
}

// Cart table styling
tbody tr {
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
}
