:host {
  font-size: var(--mfc-timeline-timestamp-font-size);
  color: var(--mfc-timeline-timestamp-color);
  padding: var(--mfc-timeline-timestamp-padding);
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  white-space: nowrap;
  vertical-align: top;
}
