@reference 'tailwindcss';

:host {
  display: block;
  text-transform: var(--mfc-navigation-heading-text-transform);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  color: var(--mfc-navigation-heading-color);
  font-size: var(--mfc-navigation-heading-font-size);
  font-weight: var(--mfc-navigation-heading-font-weight);
  padding: var(--mfc-navigation-heading-padding);
  margin-bottom: var(--mfc-navigation-heading-margin-bottom);
  text-align: var(--mfc-navigation-heading-text-align);
  height: calc(var(--spacing) * 6);
  align-items: center;
}
