@reference 'tailwindcss';

:host {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex: none;
  user-select: none;
  width: var(--mfc-tab-panel-item-width);
  height: var(--mfc-tab-panel-item-height);
  padding: var(--mfc-tab-panel-item-padding);
  border-radius: var(--mfc-tab-panel-item-border-radius);
  color: var(--mfc-tab-panel-item-color);
  gap: var(--mfc-tab-panel-item-gap);

  &:not(.is-active):hover {
    background: var(--mfc-tab-panel-item-hover-bg);
    color: var(--mfc-tab-panel-item-hover-color);
  }

  &.is-active {
    background: var(--mfc-tab-panel-item-active-bg);
    color: var(--mfc-tab-panel-item-active-color);
  }

  .icon {
    line-height: 0;
    display: inline-block;

    &:empty {
      display: none;
    }
  }

  .text {
    top: -1px;
    white-space: nowrap;
    position: relative;
    line-height: 1;
  }
}

:host-context(.mfc-tab-panel.is-compact) {
  width: var(--mfc-tab-panel-compact-item-width);
  height: var(--mfc-tab-panel-compact-item-height);

  .text {
    display: none;
  }
}
