@reference 'tailwindcss';

:host {
  --mfc-splash-screen-bg: var(--color-background);

  user-select: none;
  position: fixed;
  inset: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: visible;
  background: var(--mfc-splash-screen-bg);

  --mfc-splash-screen-hide-animation-duration: 0.5s;

  &.hide {
    opacity: 0;
    transition: opacity var(--mfc-splash-screen-hide-animation-duration) ease-in-out;
  }
}
