@reference 'tailwindcss';

:host {
  --mfc-marquee-animation-duration: 20s;
  --mfc-marquee-gap: calc(var(--spacing) * 6);
  --mfc-marquee-reverse: ;
  --mfc-marquee-pause: running;

  display: block;
  width: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: var(--mfc-marquee-gap);
    overflow: hidden;
    padding: 0.5rem;
    flex-direction: row;

    .item {
      flex-direction: row;
      animation: mfc-marquee-animation var(--mfc-marquee-animation-duration) infinite linear var(--mfc-marquee-reverse);
    }

    .item {
      display: flex;
      gap: var(--mfc-marquee-gap);
      flex-shrink: 0;
    }
  }

  .content:hover {
    & > .item {
      animation-play-state: var(--mfc-marquee-pause);
    }
  }

  .content.out-of-view {
    & > .item {
      animation-play-state: paused;
    }
  }

  .invisible {
    width: 0;
    height: 0;
    display: none;
    pointer-events: none;
  }

  @keyframes mfc-marquee-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--mfc-marquee-gap)));
    }
  }
}
