@reference 'tailwindcss';

:host {
  --mfc-file-padding: --spacing(3) --spacing(2) --spacing(3) --spacing(3);
  --mfc-file-gap: --spacing(4);
  --mfc-file-border-radius: theme(--radius-2xl);
  --mfc-file-bg: var(--color-surface-container);
  --mfc-file-error-bg: var(--color-error-200);
  --mfc-file-controls-gap: --spacing(1);
  --mfc-file-error-font-size: var(--text-2xs);
  --mfc-file-error-color: var(--color-error-500);

  display: flex;
  min-width: 240px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: var(--mfc-file-padding);
  gap: var(--mfc-file-gap);
  border-radius: var(--mfc-file-border-radius);
  background: var(--mfc-file-bg);


  .icon {
    &:empty {
      display: none;
    }

    width: 32px;
    max-height: 40px;
  }

  .controls {
    display: flex;
    gap: var(--mfc-file-controls-gap);

    &:empty {
      display: none;
    }
  }

  .error {
    font-size: var(--mfc-file-error-font-size);
    color: var(--mfc-file-error-color);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: --spacing(2);
  }

  &.has-error {
    background: var(--mfc-file-error-bg);
  }
}
