@reference 'tailwindcss';

:host {
  font-size: theme(--text-xs);

  .status {
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: --spacing(2);
    padding: --spacing(2) --spacing(3);
    border-radius: --spacing(7);
    border: 1px solid transparent;
    width: fit-content;
    height: --spacing(7);

    &.issued {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }

    &.pending {
      background-color: #f1c40f;
      color: #333;
    }

    &.paid {
      background-color: #2ecc71;
      color: var(--color-white);
    }

    &.draft {
      background-color: var(--color-neutral-500);
      color: var(--color-white);
    }
  }
}
