@reference 'tailwindcss';

:host {
  font-size: theme(--text-xs);

  .badge {
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: --spacing(2);
    padding: --spacing(2) --spacing(3);
    border-radius: --spacing(7);
    border: 1px solid transparent;
    width: fit-content;
    height: --spacing(7);

    &.status-open {
      background-color: #3498db;
    }

    &.status-in-progress {
      background-color: #f1c40f;
      color: #333;
    }

    &.status-closed {
      background-color: #2ecc71;
    }
  }
}
