@reference 'tailwindcss';

:host {
  font-size: theme(--text-xs);

  .priority-cell {
    display: flex;
    align-items: center;
    gap: --spacing(2);
    padding: --spacing(2) --spacing(3);
    border-radius: --spacing(7);
    border: 1px solid transparent;
    width: fit-content;
    height: --spacing(7);
  }

  .text {
    font-weight: 500;
    line-height: 1;
  }

  .priority-high {
    background-color: #fcede9;
    border-color: #e74c3c;
    color: #c0392b;
  }

  .priority-medium {
    background-color: #fef5e7;
    border-color: #f39c12;
    color: #d35400;
  }

  .priority-low {
    background-color: #eaf2f8;
    border-color: #3498db;
    color: #2980b9;
  }
}

:host-context(html.dark) {
  .priority-high {
    background-color: #e74c3c;
    border-color: #c0392b;
    color: #fcede9;
  }

  .priority-medium {
    background-color: #f39c12;
    border-color: #d35400;
    color: #fef5e7;
  }

  .priority-low {
    background-color: #3498db;
    border-color: #2980b9;
    color: #eaf2f8;
  }
}
