<div class="p-4 border-b border-gray-200">
  <h2 class="text-xl font-semibold m-0">Menu</h2>
</div>
<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active-link">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/profile" routerLinkActive="active-link">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Profile</span>
  </a>
  <a mat-list-item routerLink="/settings" routerLinkActive="active-link">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span matListItemTitle>Settings</span>
  </a>
</mat-nav-list>