:host {
  --mfc-expand-fade-color: theme('colors.base-100');
  --mfc-expand-button-bg: theme('colors.base-200');
  --mfc-expand-button-hover-bg: theme('colors.base-300');
  --mfc-expand-button-color: theme('colors.base-content');
  --mfc-expand-button-font-size: theme('fontSize.xs');
  --mfc-expand-button-box-shadow: theme('boxShadow.md');
  --mfc-expand-button-border-radius: theme('borderRadius.full');
  --mfc-expand-button-padding: theme('spacing.2') theme('spacing.4');
  --mfc-expand-button-hover-opacity: 0.9;
  --mfc-expand-expanded-height: 300px;

  display: block;
  position: relative;
  max-height: var(--mfc-expand-expanded-height);
  overflow: hidden;

  .button {
    position: absolute;
    inset-inline-start: 50%;
    bottom: theme('spacing.12');
    padding: var(--mfc-expand-button-padding);
    border-radius: var(--mfc-expand-button-border-radius);
    background: var(--mfc-expand-button-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translate(-50%, 50%);
    color: var(--mfc-expand-button-color);
    font-size: var(--mfc-expand-button-font-size);
    box-shadow: var(--mfc-expand-button-box-shadow);
  }

  .button {
    &:hover {
      cursor: pointer;
      opacity: var(--mfc-expand-button-hover-opacity);
      background: var(--mfc-expand-button-hover-bg);
    }

    &:active {
      scale: .98;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(transparent, var(--mfc-expand-fade-color));
    z-index: 1;
  }

  &.is-expanded {
    max-height: max-content;
    overflow: auto;

    &:after {
      display: none;
    }

    .button {
      visibility: hidden;
    }

    &:hover {
      .button {
        visibility: visible;
      }
    }
  }
}
