:host {
  --mfc-timeline-header-font-size: 0.875rem;
  --mfc-timeline-header-padding: 0 0 1rem 0;
  --mfc-timeline-header-height: 2rem;
  --mfc-timeline-header-bg: transparent;
  --mfc-timeline-header-color: oklch(var(--bc) / 0.5);
  --mfc-timeline-header-text-transform: uppercase;
  --mfc-timeline-header-font-weight: 500;
  --mfc-timeline-item-gap: 0.625rem;
  --mfc-timeline-item-no-timestamp-offset-start: -0.5rem;
  --mfc-timeline-timestamp-font-size: 0.75rem;
  --mfc-timeline-timestamp-width: 3rem;
  --mfc-timeline-timestamp-color: oklch(var(--bc) / 0.5);
  --mfc-timeline-timestamp-padding: 1px 0 0 0;
  --mfc-timeline-item-content-padding: 0 0 1.5rem 0;
  --mfc-timeline-title-font-size: 0.875rem;
  --mfc-timeline-title-color: oklch(var(--bc));
  --mfc-timeline-title-font-weight: 500;
  --mfc-timeline-item-attributes-padding: 0.25rem 0 0 0;
  --mfc-timeline-item-description-font-size: 0.875rem;
  --mfc-timeline-item-description-color: oklch(var(--bc) / 0.5);
  --mfc-timeline-item-subtitle-font-size: 0.875rem;
  --mfc-timeline-item-subtitle-color: oklch(var(--bc) / 0.5);
  --mfc-timeline-item-line-bg: oklch(var(--bc) / 0.2);
  --mfc-timeline-item-content-gap: 0.25rem;
  --mfc-timeline-indicator-shape-size: 0.75rem;
  --mfc-timeline-indicator-bg: oklch(var(--b1));
  --mfc-timeline-indicator-border: 2px solid oklch(var(--bc) / 0.2);
  --mfc-timeline-indicator-offset: 6px;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;

  &:has(.mfc-timeline-timestamp) {
    grid-template-columns: auto auto 1fr;
  }
}

:host-context(html.dark) {
  --mfc-timeline-item-line-bg: oklch(var(--bc) / 0.3);
  --mfc-timeline-header-color: oklch(var(--bc) / 0.6);
  --mfc-timeline-timestamp-color: oklch(var(--bc) / 0.7);
  --mfc-timeline-title-color: oklch(var(--bc) / 0.9);
  --mfc-timeline-item-description-color: oklch(var(--bc) / 0.5);
  --mfc-timeline-indicator-bg: oklch(var(--b2));
  --mfc-timeline-indicator-border: 2px solid oklch(var(--bc) / 0.3);
}
