<div class="phone-input-container">
  <button
    type="button"
    matRipple
    [matMenuTriggerFor]="menu"
    class="country-selector"
    [disabled]="isDisabled()"
    (menuOpened)="menuSearchInput()?.nativeElement?.focus()">
    @if (selectedCountry()) {
      <mfc-icon [name]="'circle-flags:' + selectedCountry()?.shortCode" class="flag-icon" />

      @if (selectedCountry()?.phoneCode) {
        <span class="country-selector-code">{{ selectedCountry()?.phoneCode }}</span>
      }
    }
    <mat-icon class="!text-lg text-neutral-500 relative -top-px">expand_more</mat-icon>
  </button>
  <input
    matInput
    type="tel"
    inputmode="tel"
    [autocomplete]="autocomplete()"
    (blur)="onTouched()"
    (keypress)="onInputKeyPress($event)"
    [(ngModel)]="phoneNumber"
    (ngModelChange)="onPhoneNumberChange()"
    [errorStateMatcher]="errorStateMatcher()"
    [placeholder]="_placeholder()"
    [disabled]="isDisabled()"
    class="grow"
    #focusable>
</div>
<mat-menu #menu="matMenu">
  @for (country of preferredCountriesInDropDown; track country) {
    <button type="button" mat-menu-item (click)="onCountrySelect(country, focusable)">
      <div class="flex items-center gap-2">
        <mfc-icon [name]="'circle-flags:' + country.shortCode" class="flag-icon" />
        <div class="label-wrapper">
          {{ country.name }}
          <span [class.whitespace-nowrap]="!searchCriteria" class="text-neutral-500">{{ country.phoneCode }}</span>
        </div>
      </div>
    </button>
  }

  @if (preferredCountriesInDropDown.length) {
    <mat-divider/>
  }

  @for (country of allCountries | search : searchCriteria; track country) {
    <button type="button" mat-menu-item (click)="onCountrySelect(country, focusable)">
      <div class="flex items-center gap-2">
        <mfc-icon [name]="'circle-flags:' + country.shortCode" class="flag-icon" />
        <div>
          {{ country.name }}
          <span [class.whitespace-nowrap]="!searchCriteria" class="text-neutral-500">{{ country.phoneCode }}</span>
        </div>
      </div>
    </button>
  }
</mat-menu>
