@reference 'tailwindcss';

:host {
  --mfc-avatar-font-weight: 500;
  --mfc-avatar-size: --spacing(10);
  --mfc-avatar-border-radius: calc(infinity * 1px);
  --mfc-avatar-bg: #778da9;
  --mfc-avatar-color: white;
  --mfc-avatar-presence-indicator-size: 20%;
  --mfc-avatar-presence-indicator-position-top: 5%;
  --mfc-avatar-presence-indicator-position-end: 5%;
  --mfc-avatar-presence-indicator-online-bg: #57cc99;
  --mfc-avatar-presence-indicator-offline-bg: var(--color-surface-variant);
  --mfc-avatar-presence-indicator-away-bg: #ffd60a;
  --mfc-avatar-presence-indicator-outline: white solid 2px;
  --mfc-avatar-inner-border: inset 0 0 2px var(--color-border);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex: none;
  text-transform: uppercase;
  position: relative;
  font-weight: var(--mfc-avatar-font-weight);

  &:not([class*="shadow-"]) {
    box-shadow: var(--mfc-avatar-inner-border);
  }

  .svg {
    overflow: hidden;
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  &:not([class*="rounded"]),
  &:not([class*="rounded"]) .svg {
    border-radius: var(--mfc-avatar-border-radius);
  }

  &:not([class*="w-"]):not([class*="size-"]) {
    width: var(--mfc-avatar-size);
  }

  &:not([class*="h-"]):not([class*="size-"]) {
    height: var(--mfc-avatar-size);
  }

  &.is-clickable {
    cursor: pointer;
  }

  &.is-hidden {
    display: none;
  }

  &.is-clickable:active {
    scale: .97;
  }

  .image {
    display: inline;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 1;
  }

  .presence-indicator {
    position: absolute;
    z-index: 1;
    outline: var(--mfc-avatar-presence-indicator-outline);
    border-radius: 6.1875rem;
    width: var(--mfc-avatar-presence-indicator-size);
    height: var(--mfc-avatar-presence-indicator-size);
    top: var(--mfc-avatar-presence-indicator-position-top);
    inset-inline-end: var(--mfc-avatar-presence-indicator-position-end);

    &.is-online {
      background: var(--mfc-avatar-presence-indicator-online-bg);
    }

    &.is-offline {
      background: var(--mfc-avatar-presence-indicator-offline-bg);
    }

    &.is-away {
      background: var(--mfc-avatar-presence-indicator-away-bg);
    }
  }
}

:host-context(html.dark) {
  --mfc-avatar-group-item-border: 0.125rem solid var(--color-neutral-950);
  --mfc-avatar-presence-indicator-outline: var(--color-neutral-950) solid 2px;
}
