:host {
  display: block;
  scroll-padding-inline: 100px;
  flex: none;
}

:host-context(.mfc-carousel.fade) {
  animation: mfc-carousel-fade;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-timeline: view(inline);

  @keyframes mfc-carousel-fade {
    from, to {
      opacity: .3;
    }
    50% {
      opacity: 1
    }
  }
}
