:host {
  height: 4rem;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--mfc-skeleton-from-bg, oklch(var(--b3) / 0.8)) 0%,
    var(--mfc-skeleton-to-bg, oklch(var(--b2) / 0.7)) 50%,
    var(--mfc-skeleton-from-bg, oklch(var(--b3) / 0.8)) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
  border-radius: var(--mfc-skeleton-item-border-radius, 1rem);
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
