@reference 'tailwindcss';

:host {
  --mfc-dashboard-gap: --spacing(6);

  display: block;

  .dashgrid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--mfc-dashboard-gap);
  }

  .dashgrid-item {
    --mfc-dashgrid-item-colspan: 12;
    grid-column: span var(--mfc-dashgrid-item-colspan) / span var(--mfc-dashgrid-item-colspan);
  }

  .widget {
    --mfc-dashboard-widget-height: 100%;
    height: var(--mfc-dashboard-widget-height);
  }

  .widget:not(.plain) {
    border: 1px solid var(--color-border);
    border-radius: theme(--radius-2xl);
  }

  .skeleton {
    --mfc-dashboard-widget-skeleton-min-height: 100px;
    padding: --spacing(5);
    min-height: var(--mfc-dashboard-widget-skeleton-min-height);
  }
}
