<div class="dashgrid">
  <ng-container *ngTemplateOutlet="itemsTpl; context: { $implicit: items() }"/>
</div>

<ng-template #itemsTpl let-items>
  @for (item of items; track $index) {
    <div class="dashgrid-item"
         [style.--mfc-dashgrid-item-colspan]="item.columns || 12">
      @if (item.children?.length > 0) {
        <div class="dashgrid">
          <ng-container *ngTemplateOutlet="itemsTpl; context: { $implicit: item.children }"/>
        </div>
      } @else {
        <div class="widget"
             [style.--mfc-dashboard-widget-height]="item.height"
             [class.plain]="getWidgetConfig(item.type).plain || plain()"
             [class.hidden]="!_allLoaded()">
          <ng-container [ngComponentOutlet]="getWidgetComponent(item.type) | async"
                        [ngComponentOutletInputs]="getWidgetInputs(item)"/>
        </div>

        @if (!_allLoaded()) {
          <div class="widget skeleton"
               [style.--mfc-dashboard-widget-skeleton-min-height]="item.skeletonHeight || item.height">
            @let skeletonComponent = getSkeletonComponent(item.type);

            @if (skeletonComponent) {
              <ng-container [ngComponentOutlet]="skeletonComponent"/>
            } @else {
              <mfc-widget-skeleton/>
            }
          </div>
        }
      }
    </div>
  }
</ng-template>
