:host {
  --mfc-segmented-button-height: 2rem;
  --mfc-segmented-bg: theme('colors.base-200');
  --mfc-segmented-button-hover-bg: theme('colors.base-300');
  --mfc-segmented-button-color: theme('colors.base-content');
  --mfc-segmented-button-hover-color: theme('colors.base-content');
  --mfc-segmented-button-selected-color: theme('colors.primary-content');
  --mfc-segmented-button-selected-bg: theme('colors.primary');
  --mfc-segmented-button-selected-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --mfc-segmented-padding: 0.25rem;
  --mfc-segmented-border-radius: 9999px;
  --mfc-segmented-button-border-radius: 9999px;
  --mfc-segmented-button-padding: 0 0.75rem;
  --mfc-segmented-button-min-width: 3rem;
  --mfc-segmented-button-font-size: 0.875rem;
  --mfc-segmented-gap: 0.25rem;
  --mfc-segmented-button-gap: 0.25rem;
  --mfc-segmented-button-icon-offset-margin: -6px;

  &[mfc-segmented-size="sm"] {
    --mfc-segmented-button-height: 1.5rem;
    --mfc-segmented-button-font-size: 0.75rem;
    --mfc-segmented-button-padding: 0 0.5rem;
    --mfc-segmented-button-gap: 0.125rem;
  }

  &[mfc-segmented-size="lg"] {
    --mfc-segmented-button-height: 3rem;
    --mfc-segmented-button-font-size: 1rem;
    --mfc-segmented-button-padding: 0 1rem;
    --mfc-segmented-button-gap: 0.375rem;
  }

  display: flex;
  align-items: center;
  user-select: none;
  width: max-content;
  background: var(--mfc-segmented-bg);
  padding: var(--mfc-segmented-padding);
  border-radius: var(--mfc-segmented-border-radius);
  gap: var(--mfc-segmented-gap);

  html.dark & {
    --mfc-segmented-bg: theme('colors.base-300');
    --mfc-segmented-button-hover-bg: theme('colors.base-100');
    --mfc-segmented-button-selected-bg: theme('colors.primary');
  }
}
