@reference 'tailwindcss';

:host {
  --mfc-notification-list-gap: --spacing(6);

  display: flex;
  flex-direction: column;
  gap: var(--mfc-notification-list-gap);

  .notification {
    position: relative;
  }

  .controls {
    position: absolute;
    inset-inline-end: --spacing(1);
    top: --spacing(1);
  }
}

