<mfc-breadcrumbs [lastItemAsLink]="lastItemAsLink()">
  @for (breadcrumb of breadcrumbs(); track $index; let last = $last) {
    @switch (breadcrumb.type) {
      @case ('link') {
        <a mfc-breadcrumb-item [routerLink]="breadcrumb.route">
          <ng-container mfcBreadcrumbItemIcon>
            @if (iconTemplateRef) {
              <ng-container [ngTemplateOutlet]="iconTemplateRef"
                            [ngTemplateOutletContext]="{ $implicit: breadcrumb }"/>
            } @else {
              @if (breadcrumb.icon) {
                <mat-icon>{{ breadcrumb.icon }}</mat-icon>
              }
            }
          </ng-container>

          @if (titleTemplateRef) {
            <mfc-breadcrumb-title>
              <ng-container [ngTemplateOutlet]="titleTemplateRef"
                            [ngTemplateOutletContext]="{ $implicit: breadcrumb }"/>
            </mfc-breadcrumb-title>
          } @else {
            @if (breadcrumb.title) {
              <mfc-breadcrumb-title>{{ breadcrumb.title }}</mfc-breadcrumb-title>
            }
          }

          @if (nameTemplateRef) {
            <ng-container [ngTemplateOutlet]="nameTemplateRef"
                          [ngTemplateOutletContext]="{ $implicit: breadcrumb }"/>
          } @else {
            @if (breadcrumb.name) {
              {{ breadcrumb.name }}
            }
          }
        </a>
      }
      @default {
        <mfc-breadcrumb-item>
          <ng-container mfcBreadcrumbItemIcon>
            @if (iconTemplateRef) {
              <ng-container [ngTemplateOutlet]="iconTemplateRef"
                            [ngTemplateOutletContext]="{ $implicit: breadcrumb }"/>
            } @else if (breadcrumb.icon) {
              <mat-icon>{{ breadcrumb.icon }}</mat-icon>
            }
          </ng-container>

          @if (titleTemplateRef) {
            <mfc-breadcrumb-title>
              <ng-container [ngTemplateOutlet]="titleTemplateRef"
                            [ngTemplateOutletContext]="{ $implicit: breadcrumb }"/>
            </mfc-breadcrumb-title>
          } @else {
            @if (breadcrumb.title) {
              <mfc-breadcrumb-title>{{ breadcrumb.title }}</mfc-breadcrumb-title>
            }
          }

          @if (nameTemplateRef) {
            <ng-container [ngTemplateOutlet]="nameTemplateRef"
                          [ngTemplateOutletContext]="{ $implicit: breadcrumb }"/>
          } @else {
            @if (breadcrumb.name) {
              {{ breadcrumb.name }}
            }
          }
        </mfc-breadcrumb-item>
      }
    }

    @if (!last) {
      <mfc-breadcrumb-separator>{{ separator() }}</mfc-breadcrumb-separator>
    }
  }
</mfc-breadcrumbs>
