@reference 'tailwindcss';

:host {
  --mfc-side-panel-button-strip-width: --spacing(14);
  --mfc-side-panel-content-width: 320px;
  --mfc-side-panel-offset-y: 0;
  --mfc-side-panel-content-bg: var(--color-surface-container-lowest);
  --mfc-side-panel-content-border-radius: theme(--radius-2xl);
  --mfc-side-panel-transition-timing: 0.2s;
  --mfc-side-panel-button-active-bg: var(--color-secondary-fixed);
  --mfc-side-panel-button-active-color: var(--color-on-secondary-fixed);

  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  width: var(--mfc-side-panel-button-strip-width);
  transition: width var(--mfc-side-panel-transition-timing) ease-in-out;

  &.panel-open {
    flex: none;

    .button {
      &.is-active {
        background: var(--mfc-side-panel-button-active-bg);
        color: var(--mfc-side-panel-button-active-color);
      }
    }
  }

  &.panel-open {
    width: calc(var(--mfc-side-panel-button-strip-width) + var(--mfc-side-panel-content-width));
  }

  .button-strip {
    position: absolute;
    top: var(--mfc-side-panel-offset-y);
    left: 0;
    bottom: var(--mfc-side-panel-offset-y);
    width: var(--mfc-side-panel-button-strip-width);
    z-index: 10;
  }

  .wrapper {
    position: absolute;
    top: var(--mfc-side-panel-offset-y);
    bottom: var(--mfc-side-panel-offset-y);
    width: var(--mfc-side-panel-content-width);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    left: var(--mfc-side-panel-button-strip-width);
    transform: translateX(-100%);
    transition: opacity var(--mfc-side-panel-transition-timing) ease-in-out, transform var(--mfc-side-panel-transition-timing) ease-in-out, visibility 0s linear var(--mfc-side-panel-transition-timing);
    z-index: 5;
    border-radius: var(--mfc-side-panel-content-border-radius);
    overflow: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
      background: var(--mfc-side-panel-content-bg);
      transition: opacity var(--mfc-side-panel-transition-timing) ease-in-out, transform var(--mfc-side-panel-transition-timing) ease-in-out, visibility 0s linear 0s;
    }
  }

  &.position-right {
    .button-strip {
      left: auto;
      right: 0;
    }

    .wrapper {
      left: auto;
      right: var(--mfc-side-panel-button-strip-width);
      transform: translateX(100%);

      &.open {
        transform: translateX(0);
      }
    }
  }

  .inner-content {
    width: 100%;
    height: 100%;
  }
}
