/* Component Styles - Tailwind CSS 4 + DaisyUI 5
 *
 * IMPORTANT: @apply directives are NOT compatible with Tailwind CSS 4 in component-scoped SCSS files.
 * All @apply directives have been converted to vanilla CSS using DaisyUI CSS variables.
 *
 * DaisyUI Color Variables:
 * - oklch(var(--p))  = primary
 * - oklch(var(--pc)) = primary-content
 * - oklch(var(--b1)) = base-100
 * - oklch(var(--b2)) = base-200
 * - oklch(var(--b3)) = base-300
 * - oklch(var(--bc)) = base-content
 * - oklch(var(--su)) = success
 * - oklch(var(--wa)) = warning
 * - oklch(var(--er)) = error
 * - oklch(var(--in)) = info
 * - See: https://daisyui.com/docs/colors/
 */

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .title-container {
    // Converted from: @apply absolute left-4 top-4 z-[3];
  }

  .controls {
    // Converted from: @apply absolute right-4 top-4 flex flex-col gap-4 z-[3];
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    flex: none;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100vw;
    height: 100vh;
  }

  &.scaled {
    img {
      cursor: grab;
    }
  }

  &.dragging {
    img {
      cursor: grabbing;
    }
  }

  &:has(.aside) {
    .content {
      padding-right: 420px;
    }
  }

  .img {
    user-select: none;
    scale: var(--mfc-image-viewer-picture-scale, 1);
    transition: scale .15s linear;
  }

  &:not(.dragging) {
    img {
      transition: transform .15s linear, scale .15s linear;
    }
  }

  .title {
    background-color: oklch(var(--n) / 0.7);
    font-weight: 500;
    height: 40px;
    border-radius: 9999px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    color: oklch(var(--nc));
  }

  .close,
  .zoom {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    background: oklch(var(--n) / 0.7);
    color: oklch(var(--nc));
    border: none;

    &:hover {
      background: oklch(var(--n) / 0.8);
    }

    &:active {
      background: oklch(var(--n) / 0.95);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .aside {
    width: 420px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    flex: none;
    background: oklch(var(--b1));
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding-right: 40px;

    &-header {
      font-weight: 700;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 32px;
    }

    &-body {
      position: relative;
      flex-grow: 1;
      font-size: 0.875rem;
      color: oklch(var(--bc) / 0.6);
      line-height: 1.625;

      &-scroll {
        position: absolute;
        inset: 0;
        overflow-y: auto;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
      }
    }
  }

  .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    max-width: 90%;
    max-height: 90%;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .spinner {
    visibility: hidden;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }

  &.loading {
    .spinner {
      visibility: visible;
      z-index: 1;
    }

    img {
      visibility: hidden;
      position: relative;
      z-index: -50;
    }
  }
}