@reference 'tailwindcss';

:host {
  position: relative;
  color: var(--mfc-breadcrumbs-separator-color);
  font-size: var(--mfc-breadcrumbs-separator-font-size);
  top: var(--mfc-breadcrumbs-separator-position-top);
  line-height: 0;
}
