@reference 'tailwindcss';

:host {
  --mfc-radio-card-group-gap: --spacing(5);
  --mfc-radio-card-border-radius: theme(--radius-2xl);
  --mfc-radio-card-padding: --spacing(5);
  --mfc-radio-card-transition: all 0.2s ease-in-out;
  --mfc-radio-card-color-border-hover: var(--color-primary);
  --mfc-radio-card-color-selected-border: var(--color-primary);
  --mfc-radio-card-color-selected-bg: var(--color-primary-100);
  --mfc-radio-card-content-font-size: theme(--text-sm);
  --mfc-radio-card-content-color: var(--color-neutral-600);

  --mfc-radio-card-title-font-size: theme(--text-sm);
  --mfc-radio-card-title-gap: --spacing(1.5);

  display: flex;
  flex-wrap: wrap;
  gap: var(--mfc-radio-card-group-gap);
}
