@reference 'tailwindcss';

:host {
  --mfc-number-input-gap: calc(var(--spacing) * 2);
  --mfc-number-input-control-bg: none;
  --mfc-number-input-control-color: var(--color-neutral-500);
  --mfc-number-input-control-hover-color: var(--color-neutral-600);
  --mfc-number-input-control-active-color: var(--color-neutral-700);
  --mfc-number-input-control-hover-bg: var(--color-surface-container);
  --mfc-number-input-control-active-bg: var(--color-surface-container-high);
  --mfc-number-input-control-font-size: theme(--text-2xl);
  --mfc-number-input-control-border-radius: theme(--radius-md);
  --mfc-number-input-suffix-gap: calc(var(--spacing) * 3);
  --mfc-number-input-control-size: calc(var(--spacing) * 7);
  --mfc-number-input-control-border: none;

  display: flex;
  gap: var(--mfc-number-input-gap);

  .input {
    width: auto;
    max-width: none;
    flex-grow: 1;
    min-width: 0;
  }

  .input {
    background: none;
    outline: none;
    color: currentColor;
    font: inherit;
    border: none;
  }

  .input::-webkit-outer-spin-button,
  .input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .controls {
    display: flex;
    height: 100%;
    gap: 0.375rem;
    user-select: none;
  }

  .control {
    cursor: pointer;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--mfc-number-input-control-size);
    height: var(--mfc-number-input-control-size);
    background: var(--mfc-number-input-control-bg);
    color: var(--mfc-number-input-control-color);
    font-size: var(--mfc-number-input-control-font-size);
    line-height: var(--mfc-number-input-control-font-size);
    border-radius: var(--mfc-number-input-control-border-radius);
    position: relative;
    border: var(--mfc-number-input-control-border);
    top: 1px;

    span {
      position: relative;
      top: -1px;
    }

    ::ng-deep {
      .mat-icon {
        line-height: 24px;
      }
    }

    &:hover {
      background: var(--mfc-number-input-control-hover-bg);
      color: var(--mfc-number-input-control-hover-color);
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.65;
    }
  }
}

:host-context(html.dark) {
  --mfc-number-input-control-color: var(--color-neutral-300);
  --mfc-number-input-control-hover-color: var(--color-neutral-200);
  --mfc-number-input-control-hover-bg: var(--color-neutral-500);
}
