@use '@angular/material' as mat;
@reference 'tailwindcss';

:host {
  display: grid;
  align-items: center;
  border-radius: var(--mfc-incident-border-radius);
  background: var(--mfc-incident-bg);
  grid-template-areas: "icon content close";
  padding: var(--mfc-incident-padding);
  gap: var(--mfc-incident-gap);
  border-inline-start: var(--mfc-incident-border-start);
  grid-template-columns: [icon] var(--mfc-incident-gap) [content] 1fr [action] var(--mfc-incident-gap);
  color: var(--mfc-incident-color);

  .content {
    grid-area: content;
    display: grid;
    gap: var(--mfc-incident-gap);
    grid-template-areas: "data button";
    grid-template-columns: [data] 1fr [button] var(--mfc-incident-gap);
  }

  .data {
    grid-area: data;
  }

  .icon {
    line-height: 0;
    display: inline-block;
    max-width: max-content;
  }

  .close {
    @include mat.icon-button-overrides((
      icon-color: var(--mfc-incident-close-color),
      state-layer-color: var(--mfc-incident-close-color)
    ));
  }
}
