@reference 'tailwindcss';

:host {
  --mfc-loading-bar-bg: none;
  --mfc-loading-bar-height: calc(var(--spacing) * 2);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -99999;
  display: none;

  .mfc-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--mfc-loading-bar-height);

    &__progress {
      background: var(--mfc-loading-bar-bg);
      border-radius: 0;
    }

    &__value {
      border-radius: 0;
    }
  }

  &.is-fixed {
    width: 100vw;
    position: fixed;
  }

  &.is-visible {
    z-index: 999;
    display: block;
  }
}
