@reference 'tailwindcss';

:host {
  --mfc-color-picker-bg: var(--color-surface-container);
  --mfc-color-picker-border-radius: theme(--radius-md);
  --mfc-color-picker-margin-offset: --spacing(2);
  --mfc-color-picker-border: 0 solid var(--color-neutral-200);
  --mfc-color-picker-padding: --spacing(3);
  --mfc-color-picker-gap: --spacing(2.5);
  --mfc-color-picker-as-dropdown-shadow: theme(--shadow-lg);

  --mfc-color-picker-saturation-width: 260px;
  --mfc-color-picker-saturation-height: 110px;
  --mfc-color-picker-saturation-pointer-size: --spacing(5);
  --mfc-color-picker-saturation-pointer-shadow: theme(--shadow-md);
  --mfc-color-picker-saturation-pointer-border: 2px solid white;

  --mfc-color-picker-hue-width: var(--mfc-color-picker-saturation-width);
  --mfc-color-picker-hue-height: --spacing(3);
  --mfc-color-picker-hue-pointer-size: --spacing(5);
  --mfc-color-picker-hue-pointer-shadow: theme(--shadow-md);
  --mfc-color-picker-hue-pointer-border: 2px solid white;

  --mfc-color-picker-alpha-width: var(--mfc-color-picker-saturation-width);
  --mfc-color-picker-alpha-height: --spacing(3);
  --mfc-color-picker-alpha-pointer-size: --spacing(5);
  --mfc-color-picker-alpha-pointer-shadow: theme(--shadow-md);
  --mfc-color-picker-alpha-pointer-border: 2px solid white;

  display: inline-grid;
  user-select: none;
  position: relative;
  flex: none;
  gap: var(--mfc-color-picker-gap);
  background: var(--mfc-color-picker-bg);
  border-radius: var(--mfc-color-picker-border-radius);
  border: var(--mfc-color-picker-border);
  padding: var(--mfc-color-picker-padding);

  &.is-disabled {
    pointer-events: none;
  }

  &.as-dropdown {
    box-shadow: var(--mfc-color-picker-as-dropdown-shadow);
  }

  @keyframes mfc-color-picker-animation {
    0% {
      transform: scale(.9);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

:host-context(.mfc-color-picker-overlay-panel) {
  animation: .15s mfc-color-picker-animation;
}

:host-context(.mfc-color-picker-above) {
  margin-bottom: var(--mfc-color-picker-margin-offset);
  transform-origin: bottom;
}

:host-context(.mfc-color-picker-below) {
  margin-top: var(--mfc-color-picker-margin-offset);
  transform-origin: top;
}

:host-context(.mfc-color-picker-before) {
  margin-inline-end: var(--mfc-color-picker-margin-offset);
  transform-origin: right;
}

:host-context(.mfc-color-picker-after) {
  margin-inline-start: var(--mfc-color-picker-margin-offset);
  transform-origin: left;
}

:host-context(html.dark) {

}
