@reference 'tailwindcss';

:host {
  display: flex;
  align-items: center;
  min-width: 0;
  white-space: nowrap;
  position: relative;
  flex: none;
  cursor: pointer;
  user-select: none;
  background-color: var(--mfc-sidebar-nav-group-toggle-bg);
  min-height: var(--mfc-sidebar-nav-item-height);
  padding: var(--mfc-sidebar-nav-item-padding);
  font-size: var(--mfc-sidebar-nav-item-font-size);
  border-radius: var(--mfc-sidebar-nav-item-border-radius);
  font-weight: var(--mfc-sidebar-nav-item-font-weight);
  color: var(--mfc-sidebar-nav-item-color);
  gap: var(--mfc-sidebar-nav-item-gap);
  width: var(--mfc-sidebar-nav-item-width);

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .badge {
    &:empty {
      display: none;
    }

    display: inline-flex;
    flex: none;
    border-radius: calc(infinity * 1px);
    height: calc(var(--spacing) * 5);
    align-items: center;
    justify-content: center;
    min-width: calc(var(--spacing) * 5);
    font-size: var(--text-2xs);
    padding: 0 calc(var(--spacing) * 1.5);
    background: var(--color-surface-tint);
    color: var(--color-on-primary);
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--mfc-sidebar-nav-item-icon-width);
    color: var(--mfc-sidebar-nav-group-toggle-icon-color);
    flex: none;

    &:empty {
      display: none;
    }
  }

  .toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: var(--mfc-transition-transform);
    margin-inline-end: 2px;

    &:empty {
      display: none;
    }
  }

  &:hover {
    background-color: var(--mfc-sidebar-nav-item-hover-bg);
    color: var(--mfc-sidebar-nav-group-toggle-hover-icon-color);
    transition: background-color .2s;
  }

  &.is-active,
  &.is-active:hover {
    background-color: var(--mfc-sidebar-nav-group-toggle-active-bg);
    color: var(--mfc-sidebar-nav-group-toggle-active-color);
  }

  &:not(.is-active):hover .icon {
    color: var(--mfc-sidebar-nav-item-hover-icon-color);
  }

  &.is-active {
    .icon {
      color: var(--mfc-sidebar-nav-group-toggle-active-icon-color);
    }

    .toggle {
      transform: rotate(-180deg);
    }
  }

  &:has(.toggle:not(:empty)) {
    padding-inline-end: var(--mfc-sidebar-nav-group-toggle-has-icon-padding-end);
  }
}
