@reference 'tailwindcss';

:host {
  display: block;
  margin: --spacing(5) 0;

  &.inline {
    display: inline;
  }

  ::ng-deep {
    pre.shiki {
      padding: --spacing(5);
      border-radius: theme(--radius-2xl);
      overflow: auto;
      line-height: 1.5;
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-size: 0.875rem;
    }

    code { white-space: pre; }
  }

  &.loading { opacity: 0.6; }
}
