@reference 'tailwindcss';

:host {
  --mfc-sidebar-nav-bg: inherit;
  --mfc-sidebar-nav-items-gap: --spacing(0.5);
  --mfc-sidebar-nav-item-width: 100%;
  --mfc-sidebar-nav-item-bg: transparent;
  --mfc-sidebar-nav-item-height: --spacing(12);
  --mfc-sidebar-nav-item-padding: 0 --spacing(4);
  --mfc-sidebar-nav-item-font-size: theme(--text-sm);
  --mfc-sidebar-nav-item-border-radius: calc(infinity * 1px);
  --mfc-sidebar-nav-item-border-width: 1px;
  --mfc-sidebar-nav-item-border-color: transparent;
  --mfc-sidebar-nav-item-font-weight: 500;
  --mfc-sidebar-nav-item-color: var(--color-secondary);
  --mfc-sidebar-nav-item-hover-bg: var(--color-neutral-300);
  --mfc-sidebar-nav-item-active-bg: var(--color-secondary-container);
  --mfc-sidebar-nav-item-hover-color: var(--color-secondary-800);
  --mfc-sidebar-nav-item-active-color: var(--color-secondary-950);
  --mfc-sidebar-nav-item-icon-font-size: theme(--text-2xl);
  --mfc-sidebar-nav-item-icon-color: var(--color-secondary-700);
  --mfc-sidebar-nav-item-icon-width: 27px;
  --mfc-sidebar-nav-item-hover-icon-color: var(--color-secondary-800);
  --mfc-sidebar-nav-item-active-icon-color: var(--color-secondary-950);
  --mfc-sidebar-nav-item-icon-size: --spacing(6);
  --mfc-sidebar-nav-item-gap: --spacing(2.5);
  --mfc-sidebar-nav-item-has-icon-padding-start: --spacing(2.5);
  --mfc-sidebar-nav-heading-color: var(--color-neutral-900);
  --mfc-sidebar-nav-heading-font-size: var(--text-2xs);
  --mfc-sidebar-nav-heading-font-weight: 700;
  --mfc-sidebar-nav-heading-padding: 0 --spacing(4);
  --mfc-sidebar-nav-heading-margin-top: --spacing(6);
  --mfc-sidebar-nav-heading-margin-bottom: --spacing(2);
  --mfc-sidebar-nav-heading-after-margin: --spacing(8);
  --mfc-sidebar-nav-heading-text-transform: uppercase;
  --mfc-sidebar-nav-divider-height: 1px;
  --mfc-sidebar-nav-divider-bg: var(--color-border);
  --mfc-sidebar-nav-divider-margin: --spacing(6) 0;
  --mfc-sidebar-nav-group-toggle-has-icon-padding-end: --spacing(2);
  --mfc-sidebar-nav-group-toggle-icon-color: var(--color-neutral-700);
  --mfc-sidebar-nav-group-toggle-icon-position-end: --spacing(3);
  --mfc-sidebar-nav-group-toggle-icon-size: --spacing(4);
  --mfc-sidebar-nav-group-menu-padding-start: 0;
  --mfc-sidebar-nav-group-toggle-bg: transparent;
  --mfc-sidebar-nav-group-toggle-active-bg: var(--color-neutral-300);
  --mfc-sidebar-nav-group-toggle-active-color: var(--mfc-sidebar-nav-item-active-color);
  --mfc-sidebar-nav-group-toggle-hover-icon-color: var(--color-secondary-700);
  --mfc-sidebar-nav-group-toggle-active-icon-color: var(--color-secondary-700);
  --mfc-sidebar-nav-nested-item-bg: transparent;
  --mfc-sidebar-nav-nested-item-height: --spacing(10);
  --mfc-sidebar-nav-nested-item-padding: 0 --spacing(4);
  --mfc-sidebar-nav-nested-item-margin: 0 0 0 52px;
  --mfc-sidebar-nav-nested-item-border-radius: 0;
  --mfc-sidebar-nav-nested-item-color: var(--color-secondary-600);
  --mfc-sidebar-nav-nested-item-hover-bg: var(--color-neutral-200);
  --mfc-sidebar-nav-nested-item-active-bg: var(--color-secondary-fixed);
  --mfc-sidebar-nav-nested-item-hover-color: var(--color-secondary-800);
  --mfc-sidebar-nav-nested-item-active-color: var(--color-secondary-950);
  --mfc-sidebar-nav-nested-item-indicator-width: --spacing(3.5);
  --mfc-sidebar-nav-nested-item-indicator-height: --spacing(0.5);
  --mfc-sidebar-nav-nested-item-indicator-bg: var(--color-neutral-500);
  --mfc-sidebar-nav-nested-item-indicator-position-start: calc(--spacing(2.5) * -1);
  --mfc-sidebar-nav-group-active-bg: transparent;
  --mfc-sidebar-nav-group-border-radius: 0;
  --mfc-sidebar-nav-group-tree-lines-color: var(--color-surface-container-highest);
  --mfc-sidebar-nav-heading-text-align: start;
  --mfc-sidebar-nav-compact-line-bg: var(--color-surface-container-high);

  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--mfc-sidebar-nav-items-gap);
  background: var(--mfc-sidebar-nav-bg);
}

:host-context(html.dark) {
  --mfc-sidebar-nav-item-color: var(--color-neutral-400);
  --mfc-sidebar-nav-item-icon-color: var(--color-neutral-400);
  --mfc-sidebar-nav-item-hover-bg: var(--color-neutral-700);
  --mfc-sidebar-nav-item-active-bg: var(--color-primary-300);
  --mfc-sidebar-nav-item-hover-color: var(--color-neutral-100);
  --mfc-sidebar-nav-item-hover-icon-color: var(--color-neutral-100);
  --mfc-sidebar-nav-item-active-color: var(--color-neutral-950);
  --mfc-sidebar-nav-item-active-icon-color: var(--color-neutral-950);
  --mfc-sidebar-nav-heading-color: var(--color-neutral-200);
  --mfc-sidebar-nav-nested-item-color: var(--color-neutral-400);
  --mfc-sidebar-nav-nested-item-hover-bg: var(--color-neutral-700);
  --mfc-sidebar-nav-nested-item-hover-color: var(--color-neutral-100);
  --mfc-sidebar-nav-group-toggle-active-bg: var(--color-neutral-800);
  --mfc-sidebar-nav-group-toggle-active-color: var(--color-neutral-100);
  --mfc-sidebar-nav-group-toggle-icon-color: var(--color-neutral-300);
  --mfc-sidebar-nav-group-toggle-hover-icon-color: var(--color-neutral-100);
  --mfc-sidebar-nav-group-toggle-active-icon-color: var(--color-neutral-100);
  --mfc-sidebar-nav-group-toggle-hover-bg: var(--color-neutral-800);
}
