@reference 'tailwindcss';

:host {
  --mfc-navigation-bg: inherit;
  --mfc-navigation-items-gap: --spacing(0.5);
  --mfc-navigation-item-width: 100%;
  --mfc-navigation-item-bg: transparent;
  --mfc-navigation-item-height: --spacing(12);
  --mfc-navigation-item-padding: 0 --spacing(4);
  --mfc-navigation-item-font-size: theme(--text-sm);
  --mfc-navigation-item-border-radius: calc(infinity * 1px);
  --mfc-navigation-item-border-width: 1px;
  --mfc-navigation-item-border-color: transparent;
  --mfc-navigation-item-font-weight: 500;
  --mfc-navigation-item-color: var(--color-secondary);
  --mfc-navigation-item-hover-bg: var(--color-neutral-300);
  --mfc-navigation-item-active-bg: var(--color-secondary-container);
  --mfc-navigation-item-hover-color: var(--color-on-secondary-fixed);
  --mfc-navigation-item-active-color: var(--color-on-secondary-fixed);
  --mfc-navigation-item-icon-font-size: theme(--text-2xl);
  --mfc-navigation-item-icon-color: var(--color-secondary-700);
  --mfc-navigation-item-icon-width: 27px;
  --mfc-navigation-item-hover-icon-color: var(--color-secondary-800);
  --mfc-navigation-item-active-icon-color: var(--color-secondary-950);
  --mfc-navigation-item-icon-size: --spacing(6);
  --mfc-navigation-item-gap: --spacing(2.5);
  --mfc-navigation-item-has-icon-padding-start: --spacing(2.5);
  --mfc-navigation-heading-color: var(--color-neutral-900);
  --mfc-navigation-heading-font-size: var(--text-2xs);
  --mfc-navigation-heading-font-weight: 700;
  --mfc-navigation-heading-padding: 0 --spacing(4);
  --mfc-navigation-heading-margin-bottom: --spacing(2);
  --mfc-navigation-heading-after-margin: --spacing(8);
  --mfc-navigation-heading-text-transform: uppercase;
  --mfc-navigation-divider-height: 1px;
  --mfc-navigation-divider-bg: var(--color-border);
  --mfc-navigation-divider-margin: --spacing(6) 0;
  --mfc-navigation-group-toggle-has-icon-padding-end: --spacing(2);
  --mfc-navigation-group-toggle-icon-color: var(--color-neutral-400);
  --mfc-navigation-group-toggle-icon-position-end: --spacing(3);
  --mfc-navigation-group-toggle-icon-size: --spacing(4);
  --mfc-navigation-group-menu-padding-start: 0;
  --mfc-navigation-group-toggle-bg: transparent;
  --mfc-navigation-group-toggle-active-bg: var(--color-neutral-300);
  --mfc-navigation-group-toggle-active-color: var(--mfc-navigation-item-active-color);
  --mfc-navigation-nested-item-bg: transparent;
  --mfc-navigation-nested-item-height: --spacing(10);
  --mfc-navigation-nested-item-padding: 0 --spacing(4);
  --mfc-navigation-nested-item-margin: 0 0 0 52px;
  --mfc-navigation-nested-item-border-radius: 0;
  --mfc-navigation-nested-item-color: var(--color-secondary-600);
  --mfc-navigation-nested-item-hover-bg: var(--color-neutral-200);
  --mfc-navigation-nested-item-active-bg: var(--color-secondary-fixed);
  --mfc-navigation-nested-item-hover-color: var(--color-on-secondary-fixed);
  --mfc-navigation-nested-item-active-color: var(--color-on-secondary-fixed);
  --mfc-navigation-nested-item-indicator-width: --spacing(3.5);
  --mfc-navigation-nested-item-indicator-height: --spacing(0.5);
  --mfc-navigation-nested-item-indicator-bg: var(--color-neutral-500);
  --mfc-navigation-nested-item-indicator-position-start: calc(--spacing(2.5) * -1);
  --mfc-navigation-group-active-bg: transparent;
  --mfc-navigation-group-border-radius: 0;
  --mfc-navigation-group-tree-lines-color: var(--color-border);
  --mfc-navigation-heading-text-align: start;

  display: flex;
  flex-direction: column;
  gap: var(--mfc-navigation-items-gap);
  background: var(--mfc-navigation-bg);

  ::ng-deep {
    .mfc-navigation-group-toggle-icon {
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }

    & > * + .mfc-navigation-heading {
      margin-top: var(--mfc-navigation-heading-after-margin);
    }
  }
}

:host-context(html.dark) {
  --mfc-navigation-item-color: var(--color-neutral-300);
  --mfc-navigation-item-icon-color: var(--color-neutral-400);
  --mfc-navigation-item-hover-bg: var(--color-neutral-700);
  --mfc-navigation-item-active-bg: var(--color-primary-300);
  --mfc-navigation-item-hover-color: var(--color-neutral-100);
  --mfc-navigation-item-hover-icon-color: var(--color-neutral-100);
  --mfc-navigation-item-active-color: var(--color-neutral-950);
  --mfc-navigation-item-active-icon-color: var(--color-neutral-950);
  --mfc-navigation-heading-color: var(--color-neutral-200);
  --mfc-navigation-nested-item-color: var(--color-neutral-300);
  --mfc-navigation-nested-item-hover-bg: var(--color-neutral-700);
  --mfc-navigation-nested-item-hover-color: var(--color-neutral-100);
  --mfc-navigation-group-toggle-active-bg: var(--color-neutral-800);
  --mfc-navigation-group-toggle-active-color: var(--color-neutral-100);
  --mfc-navigation-group-toggle-hover-bg: var(--color-neutral-800);
}
